.card{
  margin-top: 2%;
  margin-bottom: 2%;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #CACFD3;
  padding-left: 3%;
  padding-right: 1%;
  gap: 3%;
}


form h3 {
  grid-column: 1/3;
  font-size: 1.3rem;
  color: #444C50;
  text-align: center;
}

form :nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}

form :nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

form :nth-child(4), form :nth-child(5) {
  justify-self: end;
  display: flex;
  align-items: center;
}

form :nth-child(6) {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Nombre {
  width: 40%;
  height: 35px;
  border: 2px solid #C8D0D2;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0px 1% 0px 1%;
}

#Imagen {
  width: 40%;
  height: 35px;
  border: 2px solid #C8D0D2;
  margin-left: 3px;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0px 1% 0px 1%;
  color: #646D74;
}

#Defensa, #Ataque {
  width: 250px;
  display: block;
  accent-color: #665AEE;
}

label {
  font-size: 1.2rem;
  color: #646D74;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
  height: 30px;
  width: 100px;
  background: #6557F5;
  color: white;
  border: 0;
  border-radius: 5px;
}

button > i {
  margin-right: 5%;
}

button:active {
  background: rgb(208,205,252);
}

.power {
  width: 41px;
}


p {
  color: red;
}

button:disabled{
  background: #D0CCFE;
}
