.functions{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  align-items: center;
}

.Search{
  position: relative;
}

.Search i{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #858E92;
  margin-left: 4%;
}

input {
  padding-left: 20%;
  height: 25px;
  border: 2px solid #D7DBDE;
  border-radius: 5px;
}

h3{
  color: #4A555C;
  font-size: 1.3rem;
}

table{
  width: 100%;
  border: 1px solid #CACECF;
  border-spacing: 0;
}

th{
  border: 1px solid #CACECF;
}

td{
  padding: 1%;
  border: 1px solid #CACECF;
  color: #3A4147;
  font-size: 1rem;
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
  height: 30px;
  width: 80px;
  background: #6557F5;
  color: white;
  border: 0;
  border-radius: 5px;
}

.imageCard{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 40px;
  width: 40px;
}

img {
  width: 100%;
  height: 100%;
}

.butt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a{
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
  text-decoration: none;
  color: #665AEE;
}
